/* CSS Document */
body{ margin:0 auto; padding:0 4px;}
body,table,td {font-size: 14px; color: #842b00; line-height: 16pt; font-family: "tahoma", "ו";text-decoration: none}
a{ cursor:pointer;text-decoration: none;}
a:hover { text-decoration: underline;}
h1 {font-size: 16px; font-family: "tahoma", "ו"}

.clear{ clear:both}
.errorbg{background:url("/res/img/cwtsico.png") no-repeat; width:48px; height:48px; margin-top:30px;}

		