<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <system.web>
   <!--<httpHandlers>
         <add verb="*" path="*" type="COM.GeniusTEK.PUB.Web.ServerClass,GeniusTEKWeb" />
   </httpHandlers>-->
  </system.web>
    <system.webServer>
        <handlers>
            <add name="test1" path="*.aspx" verb="*" type="GeniusTek.ServerClass" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
  

</configuration>
